{% extends 'home/base.html' %}
{% load static %}
{% block content %}


		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Cart</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<div class="untree_co-section before-footer-section">
            <div class="container">
              <div class="row mb-5">
                <form method="post" action="{% url 'chaima_shop:update_quantities' %}">
                    {% csrf_token %}
                    {{ forms.management_form }}
                    <div class="site-blocks-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in forms %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="{{ form.instance.product.product_image1.url }}" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">{{ form.instance.product.product_name }}</h2>
                                    </td>
                                    <td>$ {{ form.instance.product.product_price }}</td>
                                    <td>
                                        {{ form.quantity }}
                                        {{ form.id }}
                                    </td>
                                    <td>$ {{ form.instance.total_price|floatformat:2 }}</td>
                                    <td>
                                        <a href="{% url 'chaima_shop:remove_from_cart' form.instance.id %}" class="btn btn-danger btn-sm">X</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-black btn-sm btn-block">Mettre à jour le panier</button>
                    </div>
                </form>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <button class="btn btn-black btn-sm btn-block">###</button>
                    </div>
                    <div class="col-md-6">
                      <a href="{% url 'chaima_shop:delete-cart' %}" class="btn btn-outline-black btn-sm btn-block">Supprimer le panier</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="text-black h4" for="coupon">Coupon</label>
                      <p>Enter your coupon code if you have one.</p>
                    </div>
                    <div class="col-md-8 mb-3 mb-md-0">
                      <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-black">Apply Coupon</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-5">
                  <div class="row justify-content-end">
                    <div class="col-md-7">
                      <div class="row">
                        <div class="col-md-12 text-right border-bottom mb-5">
                          <h3 class="text-black h4 text-uppercase">Total panier</h3>
                        </div>
                      </div>
                      <div class="row mb-5">
                        <div class="col-md-6">
                          <span class="text-black">Net à payer</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black">$ {{ net_total|floatformat:2 }}</strong>
                        </div>
                      </div>
        
                      <div class="row">
                        <div class="col-md-12">
                        <form method="POST" action ="{% url 'chaima_shop:create-checkout-session' %}"> 
                        {% csrf_token %}
                            <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='checkout.html'" type="submit">Proceed To Checkout</button>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock %}