{% extends 'home/base.html' %}
{% load static %}
{% block content %}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-6">
							<div class="intro-excerpt">
								<h1> <span class="d-block">Le bon Coin</span></h1>
								<p class="mb-4">Chaima-Shop, l'élégance à portée de main ! Découvrez des parfums envoûtants, des cosmétiques d'exception et des mèches sublimes, avec un service rapide et sécurisé. ❤️🪄</p>
								<p><a href="{% url 'chaima_shop:shop' %}" class="btn btn-secondary me-2">Voir la boutique</a><a href="https://wa.me/33644957999" class="btn btn-white-outline">WhatsApp</a></p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hero-img-wrap">
								<img src="{% static 'images/logo2.png' %}" class="img-fluid" >
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Nos produits les plus achetés.</h2>
						<p class="mb-4">Faites de chaque achat un moment de plaisir et de découverte. Venez explorer notre boutique en ligne et laissez-vous séduire ! ✨🛍️</p>
						<p><a href="{% url 'chaima_shop:shop' %}" class="btn">Voir plus</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					{% for products in product %}
					<div class="col-12 col-md-4 col-lg-3 mb-1 mb-md-0">
						<a class="product-item" href="{% url 'chaima_shop:product_details' products.id %}">
						{% if products.product_image1 %}
							<img src="{{ products.product_image1.url }}" class="img-fluid product-thumbnail">
						{% else %}
                            <img src="{% static "images/no_image.webp" %}" alt="No image" class="img-fluid product-thumbnail"/> 
						{% endif %}
							<h3 class="product-title">{{ products.product_name }}</h3>
							<strong class="product-price">{{ products.product_price }}€</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div> 
					{% endfor %}
					<!-- End Column 2 -->
				</div>
			</div>
		</div>
		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Pourquoi nous choisir?</h2>
						<p>Chez Chaima-Shop, nous vous proposons une large sélection de produits haut de gamme à des prix imbattables, alliant qualité, élégance et accessibilité.✨🛍️</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Livraison rapide</h3>
									<p>Nous nous efforçons à vous livrer dans les delais les plus bref.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Achat facile</h3>
									<p>Notre site internet est conçu de façon assez intuitive, pour vous permettre d'effectuer vos achats en toute simplicité et rapidité.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>24/7 Support client</h3>
									<p>Notre support client reste à votre écoute 24h/24.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/return.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Remboursement possible</h3>
									<p>selon les conditions  bien détaillés dans la section politique de remboursement, vous pouvez vous faire rembourser.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{% static 'images/38a.jpg' %}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-3 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="{% static 'images/24.jpg' %}" alt=""></div>
							<div class="grid grid-2"><img src="{% static 'images/48.jpg' %}" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="{% static 'images/47.jpg' %}" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">Besoin d'un conseil❓❓</h2>
						<p>Conscients de votre unicité, notre équipe vous accompagne avec attention et expertise, en vous offrant des conseils personnalisés pour vous guider vers les meilleurs choix. 🤝✨</p>

						<ul class="list-unstyled custom-list my-4">
							<li>Vous avez du mal choisir la couleur de votre mèche ? 💁‍♀️</li>
							<li>Trop difficile de choisir un parfum ? Pas de panique !🙂‍↔️ </li>

						</ul>
						<p><a href="{% url 'chaima_shop:shop' %}" class="btn">Nos produits</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- End We Help Section -->

		<!-- Start Popular Product -->
		<div class="popular-product">
			<div class="container">
				<div class="row">
					{% for products in product %}
					<div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								{% if products.product_image1 %}
								<img src="{{ products.product_image1.url }}" alt="Image" class="img-fluid">
								{% else %}
								<img src="{% static "images/no_image.webp" %}" alt="Image" class="img-fluid">
								{% endif %}

							</div>
							<div class="pt-3">
								<h3>{{ products.product_name }}</h3>
								<p>{{ products.product_price }}€</p>
								<p><a href="{% url 'chaima_shop:product_details' products.id %}">Details</a></p>
							</div>
						</div>
					</div>

					{% endfor %}
				</div>
			</div>
		</div>
		<!-- End Popular Product -->

	



{% endblock %}