{% extends 'home/base.html' %}
{% load static %}

{% block content %}

		<!-- Start Hero Section -->
		<div class="m-3 d-flex justify-content-center">
			<ul class="nav nav-tabs">
				<!-- Lien "All" : actif lorsque aucune catégorie n'est sélectionnée -->
				<li class="nav-item">
					<a class="nav-link {% if not active_categorie %}active{% endif %} text-dark" 
					aria-current="page" 
					href="{% url 'chaima_shop:shop' %}">
						All
					</a>
				</li>
				
				<!-- Boucle sur les catégories -->
				{% for cat in categorie %}
				<li class="nav-item ml-2">
					<a class="nav-link {% if active_categorie == cat.id %}active{% endif %} text-dark" 
					href="{% url 'chaima_shop:product_cat' cat.id %}">
						{{ cat.categorie_name }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<!-- End Hero Section -->

		

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">

					<!-- Start Column 2 -->
					{% for products in product %}
					<div class="col-12 col-md-4 col-lg-3 mb-4">
						<a class="product-item" href="{% url 'chaima_shop:product_details' products.id %}">
						{% if products.product_image1 %}
							<img src="{{ products.product_image1.url }}" class="img-fluid product-thumbnail">
						{% else %}
                            <img src="{% static "images/no_image.webp" %}" alt="No image" class="img-fluid product-thumbnail"/> 
						{% endif %}
							<h3 class="product-title">{{ products.product_name }}</h3>
							<strong class="product-price">{{ products.product_price }}€</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div> 
					{% endfor %}
					<!-- End Column 2 -->
		      	</div>
		    </div>
		</div>


	 {% endblock %}