{% extends 'home/base.html' %}
{% load static %}

{% block content %}

	
		<!-- Start Contact Form -->
		<div class="untree_co-section">
      <div class="container">

        <div class="block">
          <div class="row justify-content-center">


            <div class="col-md-8 col-lg-8 pb-4">

              <span class="fs-1 fw-bold"> Mentions Legale</span>
              <p style="margin-top: 2rem"> <b>Nom de l’Entreprise :</b> Chaima-Shop <br>
                  <b>Nom du propriétaire :</b> Chaima-Shop <br>
                  <b>Adresse  :</b> France <br>
                  <b>Numéro de Téléphone :</b><a href="tel:+33644957999">+33 6 44 95 79 99</a> <br>
                  <b>Directeur de la Publication :</b> Chaima-Shop <br>
                  <b>Responsable de la Rédaction :</b> Chaima-Shop <br>
                  <b>Droits d’Auteur et Propriété Intellectuelle :</b> Le contenu de ce site est protégé par les lois sur les droits d’auteur et la propriété intellectuelle. Tous les droits sont réservés. La reproduction totale ou partielle du contenu est interdite sans autorisation préalable. <br>
                  <b>Protection des Données Personnelles :</b> Nous nous engageons à protéger vos données personnelles et à les utiliser uniquement dans le cadre de nos services. Pour plus d’informations, veuillez consulter notre Politique de Confidentialité. <br>
                  <b>Responsabilité :</b> Nous nous efforçons de fournir des informations exactes et à jour sur ce site, mais nous ne pouvons garantir leur exhaustivité ou leur exactitude. Nous ne sommes pas responsables de l’utilisation qui pourrait être faite des informations présentes sur ce site. <br>
                  <b>Liens Externes :</b> Ce site peut contenir des liens vers des sites web tiers. Nous n’avons aucun contrôle sur le contenu de ces sites et déclinons toute responsabilité quant à leur contenu. <br>
                  <b>Tribunal Compétent :</b> En cas de litige, le tribunal compétent sera le tribunal de Douala. <br>
                  <b>Date de Dernière Mise à Jour :</b> 28-04-2025 <br>
              </p>
              <span class="fs-1 fw-bold"> Politique des cookies</span>
              <p style="margin-top: 2rem"> <b>Comprendre Comment Nous Utilisons les Cookies pour Améliorer Votre Expérience :</b> Les cookies sont de petits fichiers texte stockés sur votre appareil lorsque vous visitez un site web. Ils nous permettent de vous offrir une expérience personnalisée et d’analyser le trafic du site. En continuant à utiliser notre site, vous consentez à l’utilisation de cookies conformément à notre politique. <br> 
              <b>Types de Cookies Utilisés</b> <br>
              <b>Cookies Nécessaires :</b> Ces cookies sont essentiels pour vous permettre de naviguer sur notre site et d’utiliser ses fonctionnalités. Ils ne collectent aucune information personnelle. <br>
              <b>Cookies de Performance :</b> Ces cookies collectent des informations sur la manière dont vous utilisez notre site, telles que les pages que vous visitez le plus souvent. Ils nous aident à améliorer la fonctionnalité du site. <br>
              <b>Cookies de Fonctionnalité :</b>  Ces cookies permettent au site de se souvenir de vos préférences (comme la langue ou la région) et offrent des fonctionnalités améliorées. <br>
              <b>Cookies de Publicité :</b> Ces cookies sont utilisés pour diffuser des publicités qui vous sont pertinentes en fonction de vos intérêts. Ils peuvent également limiter le nombre de fois que vous voyez une publicité. <br>
              <b>Gestion des Cookies</b>Vous pouvez choisir d’accepter ou de refuser les cookies en modifiant les paramètres de votre navigateur. La plupart des navigateurs acceptent automatiquement les cookies, mais vous pouvez généralement les désactiver si vous le préférez.<br>
              <b>Tiers et cookies :</b> Certains cookies sont placés par des tiers qui fournissent des services à notre site. Nous n’avons aucun contrôle sur ces cookies. Veuillez consulter les politiques de confidentialité des tiers pour plus d’informations. <br>
              <b>Consentement :</b> En utilisant notre site, vous consentez à l’utilisation de cookies conformément à cette politique. Si vous choisissez de désactiver les cookies, certaines parties de notre site peuvent ne pas fonctionner correctement. <br>
              <b>Contactez-nous :</b> Si vous avez des questions concernant notre politique des cookies, veuillez nous contacter à l’adresse e-mail  <a href="mailto:contacts@chaima-shop.com">contacts@chaima-shop.com</a>
 <br>
              <b>Dernière Mise à Jour :</b> 28-24-2025 <br>
              </p>

              <span class="fs-1 fw-bold"> Politique de Confidentialité</span>
              <p style="margin-top: 2rem">
                <b>Protéger Vos Informations Personnelles est Notre Priorité :</b> Nous accordons une importance primordiale à la protection de vos données personnelles. Cette politique de confidentialité a pour but de vous informer sur la manière dont nous collectons, utilisons et sécurisons vos informations. En accédant à notre site web, vous acceptez notre politique de confidentialité. <br>
                <b>Collecte d’Informations Personnelles :</b> Lorsque vous visitez notre site ou effectuez une commande, nous pouvons recueillir des informations telles que votre nom, votre adresse e-mail, votre adresse postale, votre numéro de téléphone et vos informations de paiement. Ces données sont essentielles pour traiter vos commandes et optimiser votre expérience utilisateur. <br>
                <b>Utilisation des Informations :</b> Nous utilisons les informations collectées pour traiter vos commandes, vous offrir un service client de qualité, personnaliser votre expérience et vous tenir informé des mises à jour et offres spéciales. Vos données ne seront jamais vendues ni partagées avec des tiers non affiliés. <br>
                <b>Sécurité des Données :</b> Nous mettons en œuvre des mesures de sécurité rigoureuses pour protéger vos données contre tout accès non autorisé, modification, divulgation ou destruction. Vos informations sont conservées de manière sécurisée et ne sont accessibles qu’aux membres autorisés de notre équipe. <br>
                <b>Cookies et Technologies Similaires :</b> Notre site utilise des cookies pour améliorer votre expérience de navigation. Vous avez la possibilité de désactiver les cookies dans les paramètres de votre navigateur, mais cela pourrait restreindre certaines fonctionnalités du site. <br>
                <b>Accès et Contrôle de Vos Informations :</b> Vous avez le droit d’accéder à vos informations personnelles, de les corriger, de les mettre à jour ou de les supprimer à tout moment. Pour exercer ces droits, veuillez nous contacter à l’adresse <a href="mailto:contacts@chaima-shop.com">contacts@chaima-shop.com</a>. <br>
                <b>Mineurs :</b> Notre site n’est pas destiné aux personnes de moins de 18 ans. Nous ne collectons pas intentionnellement d’informations personnelles auprès de mineurs. Si vous êtes parent ou tuteur et que vous pensez que votre enfant nous a fourni des informations, veuillez nous contacter. <br>
                <b>Changements dans Notre Politique de Confidentialité :</b> Nous nous réservons le droit de modifier notre politique de confidentialité à tout moment. Les mises à jour seront publiées sur cette page et entreront en vigueur immédiatement. <br>
                <b>Contactez-nous :</b> Si vous avez des questions concernant notre politique des cookies, veuillez nous contacter à l’adresse e-mail  <a href="mailto:contacts@chaima-shop.com">contacts@chaima-shop.com</a> <br>
                <b>Dernière mise à jour :</b> 28-24-2025 <br>
              </p>

              <span class="fs-1 fw-bold"> Conditions générales de ventes</span>
              <p style="margin-top: 2rem">
              Bienvenue sur Chaima-Shop.com . L’utilisation de ce site web est soumise aux conditions énoncées ci-dessous. En naviguant et en utilisant notre site, vous acceptez ces conditions dans leur intégralité. Si vous n’êtes pas d’accord avec l’une de ces conditions, veuillez ne pas utiliser notre site.<br>
              Le site Chaima-Shop.com appartient à Chaima-Shop, une société spécialisée dans la vente de produits cosmetique et électroménagère. Les droits de propriété intellectuelle liés au site et à son contenu sont exclusivement détenus par Chaima-Shop. Toute reproduction, diffusion ou utilisation non autorisée du contenu est formellement interdite. <br>
              Chaima-Shop propose divers produit. En passant commande, le client reconnaît avoir lu et accepté les conditions spécifiques à chaque produit ou service.<br>
              Pour toute question ou préoccupation concernant ces conditions générales, veuillez nous contacter au numéro de téléphone <a href="tel:+33644957999">+33 6 44 95 79 99</a> ou par e-mail à <a href="mailto:contacts@chaima-shop.com">contacts@chaima-shop.com</a>.<br>
              Ces conditions générales peuvent être modifiées périodiquement. Il est de la responsabilité du client de consulter régulièrement cette page pour être informé des mises à jour.<br>
              <b>Dernière mise à jour :</b> 28-24-2025 <br>
              </p>

              <span class="fs-1 fw-bold"> Politique de Remboursement</span>
              <p style="margin-top: 2rem">
                <b>Garantie de Satisfaction pour une Expérience Client sans égale</b>  <br>
                <b></b> Chez Chaima-Shop, nous nous engageons à offrir des produits de la plus haute qualité pour répondre à vos besoins. En raison de la nature des produits directement utilisable, nous ne proposons généralement pas de remboursements. Cependant, nous comprenons qu’il peut y avoir des circonstances exceptionnelles. Voici les situations dans lesquelles un remboursement peut être envisagé : <br>
                <ul>
                    <li>
                      <b> Double Paiement :</b> Si vous avez effectué un double paiement pour le même produit, veuillez nous contacter à l’adresse e-mail <a href="mailto:contacts@chaima-shop.com">contacts@chaima-shop.com</a> dans les plus brefs délais. Nous procéderons au remboursement du paiement en double.
                    </li>
                    <li>
                      <b> Non Disponibilité du Produit :</b> Si vous rencontrez des problèmes techniques ou si le produit que vous avez acheté n’est pas disponible au téléchargement malgré un paiement réussi, veuillez nous contacter dans les 14 jours suivant l’achat à l’adresse e-mail <a href="mailto:contacts@chaima-shop.com">contacts@chaima-shop.com</a>. Nous nous efforcerons de résoudre le problème ou de vous rembourser.
                    </li>
                </ul>
                <b>Exceptions à la Politique de Remboursement</b> Bien que nous nous efforcions de satisfaire nos clients, il existe des situations où nous ne pourrons peut-être pas procéder à un remboursement. Cela inclut, mais sans s’y limiter :
                  <ul>
                    <li>
                      <b> Changement d’avis ou insatisfaction personnelle :</b> Si vous changez d’avis ou êtes insatisfait du produit pour des raisons personnelles, nous ne pourrons pas offrir de remboursement.
                    </li>
                    <li>
                      <b> Utilisation partielle ou complète du produit après l’achat :</b> Une fois que le produit a été utilisé, en tout ou en partie, nous ne serons pas en mesure d’honorer une demande de remboursement.
                    </li>
                </ul>
                <b>Contactez-Nous :</b> Si vous avez des questions ou des préoccupations concernant notre politique de remboursement, veuillez nous contacter à l’adresse e-mail <a href="mailto:contacts@chaima-shop.com">contacts@chaima-shop.com</a>. Nous sommes là pour vous aider. <br>
                <b>Dernière mise à jour :</b> 28-24-2025 <br>
              </p>

            </div>

          </div>

        </div>

      </div>


    </div>
  </div>

  <!-- End Contact Form -->

	 {% endblock %}